body {
    background: white;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

#board {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.cell {
  background: white;
  border: 2px solid black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  aspect-ratio: 1/1;
}