body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
}

.button {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background: gray;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    transition: 0.2s;
}

.button:hover {
    background: darkgray;
}
