body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

#circle {
    width: 320px;
    height: 320px;
    background: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
}

.tile {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 0.1s;
    cursor: pointer;
}

.green  { background: green; }
.red    { background: red; }
.yellow { background: yellow; }
.blue   { background: blue; }

.tile.active {
  opacity: 1;
  transform: scale(1.05);
}
