#resetButton {
    margin: 10px;
}

#board {
    margin: 20px auto;
    display: grid;
    gap: 5px;
}

.cell {
    background: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    user-select: none;
}

.cell.open {
    background: grey;
    cursor: default;
}

.cell.mine {
    background: red;
}
